# Ignore CMake build files and folders
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
# Ignore CMake debug build folder
cmake-build-debug/

# Ignore build folders
build/

# Ignore IntelliJ IDEA project files and folders
.idea\misc.xml
.idea/


# Optional (platform-specific)
*.sln
*.vcxproj*
*.user
*.cmake
compile_commands.json
"build/" 
"CMakeFiles/" 
CMakeLists.txt